.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the container takes the full viewport height */
}

.table-wrapper {
  width: 80%; /* Adjust the width as needed */
}
